.modal {
    background-color: #00000099;
    position: absolute;
    z-index: 1000;
    height: 50%;
    width: 50%;
    transform: scale(1) translate(50%, 50%);
    opacity: 1;
    animation: modalGrow .5s ease-out;
    align-items: center;
    color: #f2f2f2;
}
.modalIcon{
    float: right;
    margin: 10px;
    color: #f2f2f2;
}
.modal:hover{
    cursor: pointer;
}

@keyframes modalGrow {
    from{
        transform: translate(50%, 50%) scale(0.2);
        opacity: 0.1;
    }
    to{
        transform: translate(50%, 50%) scale(1);
        opacity: 1;
    }
}